Source: nemo-engrampa
Section: misc
Priority: optional
Maintainer: SViN24 <svin@dismail.de>
Uploaders:
 Maximiliano Curia <maxy@debian.org>,
 Margarita Manterola <marga@debian.org>,
 Fabio Fantoni <fantonifabio@tiscali.it>,
 Norbert Preining <norbert@preining.info>
Build-Depends:
 debhelper (>= 11~),
 libglib2.0-dev (>= 2.14.0),
 libnemo-extension-dev (>= 4.4),
Homepage: https://github.com/linuxmint/nemo-extensions/
Standards-Version: 4.1.4
Vcs-Browser: https://salsa.debian.org/cinnamon-team/nemo-fileroller
Vcs-Git: https://salsa.debian.org/cinnamon-team/nemo-fileroller.git

Package: nemo-engrampa
Architecture: any
Depends: engrampa, nemo (>= 4.4), ${misc:Depends}, ${shlibs:Depends}
Recommends: cinnamon-l10n (>= 4.4)
Description: Engrampa integration for Nemo
 Nemo Engrampa is an Nemo extension which allows you to create and extract
 archives in Nemo. This extension adds "Extract Here" (for archive files) and
 "Compress..." items to the right-click menu.
